{% extends 'blog/main.html' %}
{% block main_section %}
    {% for post in news %}
        <div class="alert alert-light">
            <h1>{{ post.title }}</h1>
            <p>{{ post.text }}</p>
            <span class="text-muted">Публикация: {{ post.data|date:'j F Y, время: H:i:s' }}</span>
            {% if post.author == 'Аноним' %}
                <p><b>Автор:</b> <mark>Админ</mark></p>
            {% else %}
                <p><b>Автор:</b> <mark>{{ post.author }}</mark></p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock main_section %}